/* This document styles buttons. */

/* A div that contains several buttons,
to make sure they are next to each other. */
div.buttonHolder {
	bottom: 0px;
	right: var(--spaceModifier);

	user-select: none;
	position: absolute;
}

/* Workaround to stop button backgrounds from twitching
when pressed on firefox or edge. */
div.buttonHolder button:active {
	margin-bottom: calc(0px - var(--strokeWidth));
}

/* Makes a general button template with slight 3D effect. */
button, input[type=submit] {
	margin: 0px;
	padding: 0.3em;

	border: none;
	outline: none;

	color: var(--primaryLight);
	background-color: var(--secondaryGrey);

	border-bottom: solid var(--strokeWidth) var(--primaryGrey);
	border-radius: 0px;
	
	vertical-align: text-top;
	cursor: pointer;

	font-size: 0.9em;
	transition-duration: 0.05s;
}

button i.material-icons, input[type=submit] i.material-icons {
	margin-top: -0.3em;
	margin-bottom: -0.3em;

	vertical-align: middle;
	font-size: 1.5em;
}

button img {
	height: 1em;
	margin-right: 0.5em;
	vertical-align: bottom;
}

button span {
	padding: 0.2em;
	border-radius: 0.2em;
	background-color: var(--primaryHighlight);
}

button:hover, input[type=submit]:hover {
	background-color: var(--teritaryGrey);
	border-color: var(--secondaryGrey);

	text-decoration: underline;
}

button:active, input[type=submit]:active {
	margin-top: var(--strokeWidth);
	border-bottom-width: 0px;

	transition-duration: 0.05s;
}

/* Sets diffrent shades of colors on buttons,
depending on if they are being hovered on or not. */
button.green, button.yellow, button.blue, button.red, input[type=submit].green, input[type=submit].yellow, input[type=submit].blue, input[type=submit].red {
	color: var(--primaryDark);
}

button.green, input[type=submit].green {
	background-color: var(--secondaryGreen);
	border-color: var(--primaryGreen);
}

button.yellow, input[type=submit].yellow {
	background-color: var(--secondaryYellow);
	border-color: var(--primaryYellow);
}

button.blue, input[type=submit].blue {
	background-color: var(--secondaryBlue);
	border-color: var(--primaryBlue);
}

button.orange, input[type=submit].orange {
	background-color: var(--secondaryOrange);
	border-color: var(--primaryOrange);
}

button.red, input[type=submit].red {
	background-color: var(--secondaryRed);
	border-color: var(--primaryRed);
}

button.violet, input[type=submit].violet {
	background-color: var(--secondaryViolet);
	border-color: var(--primaryViolet);
}

button.green:hover, input[type=submit].green:hover {
	background-color: var(--tertiaryGreen);
	border-color: var(--secondaryGreen);
}

button.yellow:hover, input[type=submit].yellow:hover {
	background-color: var(--tertiaryYellow);
	border-color: var(--secondaryYellow);
}

button.blue:hover, input[type=submit].blue:hover {
	background-color: var(--tertiaryBlue);
	border-color: var(--secondaryBlue);
}

button.orange:hover, input[type=submit].orange:hover {
	background-color: var(--tertiaryOrange);
	border-color: var(--secondaryOrange);
}

button.red:hover, input[type=submit].red:hover {
	background-color: var(--tertiaryRed);
	border-color: var(--secondaryRed);
}

button.violet:hover, input[type=submit].violet:hover {
	background-color: var(--tertiaryViolet);
	border-color: var(--secondaryViolet);
}

/*button.green span {
	background-color: var(--tertiaryGreen);
}

button.blue span {
	background-color: var(--tertiaryBlue);
}*/