/* This documents sets some
basic text formatting rules. */

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.5em;
}
h1, h2, h3, h5, h6 {
	font-weight: normal;
}

h6 {
	font-style: italic;
}

hr {
	background-color: var(--primaryColor);
	border: solid calc(var(--strokeWidth) / 2) var(--primaryColor);
	border-radius: calc(var(--strokeWidth) / 2);
}

/* Fixes nicer looking links, underline is not always added with a:hover. */
a {
	color: var(--primaryLight);

	outline: none;
	text-decoration: none;
}

.generalList {
	width: min-content;

	padding: calc(var(--spaceModifier) / 4);
	padding-left: calc(var(--spaceModifier) / 2);

	background-color: var(--tertiaryDark);
	display: inline-block;
}

.generalList li {
	width: min-content;
	margin: calc(var(--spaceModifier) / 4);
}

.generalList li img {
	width: 20em;
	margin: 0.5em;
}

/* Changes color of texts and links when needed. */
.errorText {
	color: var(--tertiaryRed);
}

.signInText {
	color: var(--quaternaryLight);
}

.greyText {
	color: var(--quaternaryLight);
}

.greyText a {
	color: var(--secondaryLight);
}

.greyText a:hover {
	color: var(--primaryLight);
	text-decoration: underline;
}

.greyText a.hiddenLink {
	color: var(--quaterniaryLight);
}

.greyText a:hover.hiddenLink {
	color: var(--tertiaryLight);
}