/* Changes how mod boxes are listed. */
div.modsHolder {
	margin-left: calc(0px - (var(--spaceModifier) / 2));
	margin-right: calc(0px - (var(--spaceModifier) / 2));

	text-align: center;
	display: inline-block;
}

img.modImage {
	background-color: #000000;
	border-bottom: solid var(--strokeWidth) var(--primaryColor);
	
	border-bottom-left-radius: var(--strokeWidth);
	border-bottom-right-radius: var(--strokeWidth);

	image-rendering: auto;
	object-fit: contain;
}

/* Temp solution to show how button is supposed to look
when user has recommended mod. */
button#rateButton i.material-icons {
	color: var(--primaryDark);
	transition-delay: 3s;
}

button#rateButton:active i.material-icons {
	color: var(--primaryColor);
	transition-delay: 0.05s;
}

a.modAuthor {
	width: max-content;
	margin: calc(var(--spaceModifier) / 2);

	float: right;
}

a.modAuthor:hover p.authorName {
	text-decoration: underline;
}

p.authorName {
	display: inline;
}