* {
	--primaryDownload: #226622;
	--secondaryDownload: #337733;
	--teritaryDownload: #448844;

	--primaryCopy: #ccbb22;
	--secondaryCopy: #ddcc33;
	--teritaryCopy: #eedd44;

	--modSize: 16em;
	--imageRatio: 0.75;
}

div.modBackground {
	width: var(--modSize);
	height: calc(var(--modSize) * var(--modRatio));
	
	background-color: var(--teritaryDark);
}

div.imageBackground {
	width: 100%;
	height: calc(var(--modSize) * var(--imageRatio));

	background-color: #000000;

	border: var(--strokeWidth) var(--primaryColor);
	border-bottom-style: solid;

	position: relative;
	transition-duration: 0.2s;
}

div.imageBackground:hover {
	background-color: var(--teritaryDark);
}
img.modImage {
	width: 100%;
	height: 100%;

	object-fit: scale-down;
	transition-duration: 0.2s;
}

div.imageBackground:hover img.modImage {
	cursor: pointer;
	filter: contrast(80%) blur(1px);
}

button.downloadButton {
	background-color: var(--secondaryDownload);
	border-color: var(--primaryDownload);
}

button.copyButton {
	background-color: var(--secondaryCopy);
	border-color: var(--primaryCopy);
}

button.downloadButton:hover {
	background-color: var(--teritaryDownload);
	border-color: var(--secondaryDownload);
}

button.copyButton:hover {
	background-color: var(--teritaryCopy);
	border-color: var(--secondaryCopy);
}

p.viewMod {
	width: 100%;
	bottom: 0px;
	
	opacity: 0%;
	-webkit-text-stroke: 1px #000000;

	font-size: 1.25em;
	font-weight: bold;

	text-align: center;
	position: absolute;

	transition-duration: 0.2s;
}

div.imageBackground:hover p.viewMod {
	opacity: 100%;
}

p.modAuthor {
	margin: 0px;
	margin-right: 1em;

	font-size: 0.75em;
	text-align: right;
}

p.modDescription {
	margin: 0.5em;
	font-size: 0.9em;
}