/* Changes how mod boxes are listed. */
div.modsHolder {
	margin-left: calc(0px - (var(--spaceModifier) / 2));
	margin-right: calc(0px - (var(--spaceModifier) / 2));

	text-align: center;
	display: inline-block;
}

img.modImage {
	background-color: #000000;
	border-bottom: solid var(--strokeWidth) var(--primaryColor);
	
	border-bottom-left-radius: var(--strokeWidth);
	border-bottom-right-radius: var(--strokeWidth);

	object-fit: contain;
}

a.modAuthor {
	width: max-content;
	margin: calc(var(--spaceModifier) / 2);

	float: right;
}

a.modAuthor:hover p.authorName {
	text-decoration: underline;
}

p.authorName {
	display: inline;
}