* {
	/* General colors being used on site,
	brace yourselves for some really fancy variable names. */
	--primaryColor: #ff6800;

	--primaryDark: #121212;
	--secondaryDark: #161616;
	--tertiaryDark: #1a1a1a;

	--primaryGrey: #262626;
	--secondaryGrey: #313131;
	--teritaryGrey: #414141;

	--primaryLight: #eeeeee;
	--secondaryLight: #aaaaaa;
	--tertiaryLight: #555555;

	--primaryHighlight: #ffffff11;
	--secondaryHighlight: #000000aa;

	/* Color shades being used on buttons. */
	--primaryGreen: #006600;
	--secondaryGreen: #118811;
	--tertiaryGreen: #22aa22;

	--primaryYellow: #bbbb00;
	--secondaryYellow: #dddd11;
	--tertiaryYellow: #ffff22;

	--primaryBlue: #0066aa;
	--secondaryBlue: #1188cc;
	--tertiaryBlue: #22aaee;

	--primaryOrange: #bb2400;
	--secondaryOrange: #dd4600;
	--tertiaryOrange: #ff6800;

	--primaryRed: #aa0000;
	--secondaryRed: #cc1111;
	--tertiaryRed: #ee2222;

	/* Width of most decorative divs, all borders and some border radiuses. */
	--strokeWidth: 3px;

	--sidebarWidth: calc(10em + 10vw);


	/* Height of background image and gradient.*/
	--backgroundHeight: 15vw;

	/* A value that affects margin/padding on all elements. */
	--spaceModifier: calc(3vw + 1em);

	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;

	scroll-behavior: smooth;
}

/* Sets some frequently used default parameters. */
body {
	margin: 0px;
	padding: 0px;

	color: var(--primaryLight);
	overflow-y: scroll;

	position: relative;
}

/* Background body, leaves space for sidebar iframe. */
body.frame {
	max-width: 100%;
	padding: var(--spaceModifier);
	padding-right: calc(var(--spaceModifier) + var(--sidebarWidth));

	background-color: var(--primaryDark);
}

/* Background div, leaves space for top background image. */
div.frame {
	width: calc(100% - (var(--spaceModifier) + var(--strokeWidth)) * 2);

	margin-top: calc(var(--backgroundHeight) - (var(--spaceModifier) * 2));
	
	padding: var(--spaceModifier);
	background-color: var(--secondaryDark);

	border: var(--strokeWidth) var(--primaryColor);
	border-radius: var(--strokeWidth);

	border-left-style: solid;
	border-right-style: solid;

	/* New fancy 'clearfix hack' */
	content: "";
	clear: both;
	display: table;

	position: relative;
}

/* A div that contains several buttons,
to make sure they are next to each other. */
div.buttonHolder {
	bottom: 0px;
	right: var(--spaceModifier);

	user-select: none;
	position: absolute;
}

/* Workaround to stop button backgrounds from twitching
when pressed on firefox or edge. */
div.buttonHolder button:active {
	margin-bottom: calc(0px - var(--strokeWidth));
	/* user-select: none; */
}

/* Gradient at bottom of top background image, purely decorative. */
div.backgroundGradient {
	left: 0px;
	width: calc(100% - var(--sidebarWidth));

	top: calc(var(--backgroundHeight) - (var(--spaceModifier) * 2));
	height: calc(var(--spaceModifier) * 2);

	background-image: linear-gradient(#00000000, var(--primaryDark));

	z-index: -1;
	position: absolute;
}

div.popupBackground {
	width: 100vw;
	height: 100vh;
	
	left: 0px;
	right: 0px;

	top: 0px;
	bottom: 0px;

	background-color: var(--secondaryHighlight);

	justify-content: center;
	align-items: center;

	z-index: 5;
	overflow: hidden;
	
	display: flex;
	position: fixed;
}

div.popupFrame {
	width: max-content;
	height: max-content;

	max-height: calc(100% - var(--spaceModifier));
	overflow-y: scroll;

	margin: calc(var(--spaceModifier) / 2);
	padding: calc(var(--spaceModifier) / 2);
	padding-top: 0px;

	background-color: var(--tertiaryDark);
	border-bottom: solid var(--strokeWidth) var(--primaryColor);

	border-bottom-left-radius: var(--strokeWidth);
	border-bottom-right-radius: var(--strokeWidth);

	position: relative;
}

div.popupFrame button {
	padding: 0.4em;
	font-size: 1em;
}

/* Makes a general button template with slight 3D effect. */
button {
	margin: 0px;
	padding: 0.3em;

	border: none;
	outline: none;

	color: var(--primaryLight);
	background-color: var(--secondaryGrey);

	border-bottom: solid var(--strokeWidth) var(--primaryGrey);
	border-radius: 0px;
	
	vertical-align: text-top;
	cursor: pointer;

	font-size: 0.9em;
	transition-duration: 0.05s;
}

button i.material-icons {
	margin-top: -0.3em;
	margin-bottom: -0.3em;

	vertical-align: middle;
	font-size: 1.5em;
}

button#xit {
	right: 0px;
	top: calc(var(--spaceModifier) / 2);

	padding-top: 0.2em;
	padding-bottom: 0.1em;

	cursor: pointer;
	position: absolute;
}

button:hover {
	background-color: var(--teritaryGrey);
	border-color: var(--secondaryGrey);

	text-decoration: underline;
}

button:active {
	margin-top: var(--strokeWidth);
	border-bottom-width: 0px;

	transition-duration: 0.05s;
}

img, iframe, button {
	user-select: none;
}

img.logo {
	width: calc(100% - (var(--spaceModifier) / 2));
	margin: calc(var(--spaceModifier) / 4);

	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

/* Wide background image at top of layot.*/
img.backgroundImage {
	width: calc(100vw - var(--sidebarWidth));
	height: calc(var(--backgroundHeight) - 1px);
	margin: calc(0px - var(--spaceModifier));

	z-index: -1;
	
	position: absolute;
	object-fit: cover;
}

img.userAvatar {
	object-fit: cover;
}

/* Locks sidebar in place on the right. */
iframe.sidebar {
	right: 0px;
	width: var(--sidebarWidth);

	top: 0px;
	height: 100vh;
	
	position: fixed;
}

iframe.popup {
	width: 100vw;
	height: 100vh;
	
	left: 0px;
	right: 0px;

	top: 0px;
	bottom: 0px;

	z-index: 5;
	position: fixed;
}

/* Sets size of iframes used for mod previews.*/
iframe.modBox {
	width: 15em;
	height: 25em;

	margin: calc(var(--spaceModifier) / 10);
}

/* Sets size of iframes used for previews of user profiles.*/
iframe.userHeader {
	width: 100%;
	height: 2em;
}

select {
	margin-bottom: calc(var(--spaceModifier) / 4);
	padding: 0.2em;

	color: var(--primaryLight);
	background-color: var(--secondaryGrey);
}

/* Fixes nicer looking links, underline is not always added with a:hover. */
a {
	color: var(--primaryLight);

	outline: none;
	text-decoration: none;
}

p.errorText {
	color: var(--tertiaryRed);
}

hr {
	border: solid calc(var(--strokeWidth) / 2) var(--primaryColor);
	border-radius: calc(var(--strokeWidth) / 2);
}

/* Makes popup forms good looking. */
textArea, input {
	margin-bottom: calc(var(--spaceModifier) / 2);
}

textArea, input[type=text], input[type=password], input[type=email], input[type=url] {
	width: calc(100% - (var(--spaceModifier) / 2));
	padding: calc(var(--spaceModifier) / 4);

	color: var(--primaryLight);
	background-color: var(--primaryGrey);
	
	font-size: 0.9em;

	border: none;
	resize: none;
}

input[type=color] {
	background-color: var(--primaryGrey);
	border: none;
}

/* Sets diffrent shades of colors on buttons,
depending on if they are being hovered on or not. */
button.green, button.yellow, button.blue, button.red {
	color: var(--primaryDark);
}

button.green {
	background-color: var(--secondaryGreen);
	border-color: var(--primaryGreen);
}

button.yellow {
	background-color: var(--secondaryYellow);
	border-color: var(--primaryYellow);
}

button.blue {
	background-color: var(--secondaryBlue);
	border-color: var(--primaryBlue);
}

button.orange {
	background-color: var(--secondaryOrange);
	border-color: var(--primaryOrange);
}

button.red {
	background-color: var(--secondaryRed);
	border-color: var(--primaryRed);
}

button.green:hover {
	background-color: var(--tertiaryGreen);
	border-color: var(--secondaryGreen);
}

button.yellow:hover {
	background-color: var(--tertiaryYellow);
	border-color: var(--secondaryYellow);
}

button.blue:hover {
	background-color: var(--tertiaryBlue);
	border-color: var(--secondaryBlue);
}

button.orange:hover {
	background-color: var(--tertiaryOrange);
	border-color: var(--secondaryOrange);
}

button.red:hover {
	background-color: var(--tertiaryRed);
	border-color: var(--secondaryRed);
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px var(--primaryGrey) inset;
}

input:-webkit-autofill:first-line {
	color: var(--primaryLight);
}

/* Oooh, fancy custom scrollbar. */
::-webkit-scrollbar {
	width: 1em;
}

::-webkit-scrollbar-track {
	background-color: var(--tertiaryDark);
}

::-webkit-scrollbar-thumb {
	background-color: var(--tertiaryLight);
	border: solid var(--strokeWidth) var(--tertiaryDark);
}